<section class="section-modal">

    <div class="container">
        <h2>Tela de Consulta</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Origem</th>
                    <th>Data Contato</th>
                    <th>Observação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each clientes}}
                <tr>
                    <td>{{this.nome}}</td>
                    <td>{{this.telefone}}</td>
                    <td>{{this.origem}}</td>
                    <td>{{this.data_contato}}</td>
                    <td>{{this.observacao}}</td>
                    <td>
                        <a href="/editar/{{id}}"><button class="btn btn-primary">Editar</button></a>
                        <a href="/excluir/{{id}}"><button class="btn btn-danger">Excluir</button></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>



    <button class="show-modal">Show Modal</button>
    <span class="overlay"></span>
    <div class="modal-box">
        <form method="post" action="/cadastrar">
            <box-icon name='check-circle' size="90px"></box-icon>
            <h2>Completed</h2>
            <h3>Quer adicionar uma pessoa?</h3>
            <div class="input-box">
                <input type="text" name="nome" placeholder="Nome" required>
            </div>
            <div class="input-box">
                <input type="text" name="telefone" placeholder="Telefone" required>
            </div>
            <div class="input-box">
                <input type="text" name="origem" placeholder="Origem" required>
            </div>
            <div class="input-box">
                <input type="text" name="data_contato" placeholder="Data Contato" required>
            </div>
            <div class="input-box">
                <input type="text" name="observacao" placeholder="Observação" required>
            </div>
            <div class="buttons">
            <button class="close-btn">Cancelar</button>
            <button type="submit">Open File</button>
            </div>
        </form>
        
    </div>
</section>
<script src="/public/js/modal.js"></script>